// Código de Nav acá

nav {
    .flex(column, center, none);
    background-color: @wild-sand;
    margin-bottom: 2px;
    border-color: @sea-shell;
    font-weight: bolder;

    h1 {
        .color(@ebony-clay);
        padding: 10px;
        font-size: 3.4em;
    }

    ul {
        .flex(row, none, space-evenly);
        width: 50%;
        padding: 4px;

        li {
            a {
                .color(@river-bend);
                text-decoration: none;
                font-size: 15px;
            }
        }
    }
}